/* Player */
.no-height {
  height: 0 !important;
}
.player-container {
  width: 435px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #eaedef;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.player-cover {
  height: 160px;
  background-position: top center;
  background-size: cover;
  transition: height 0.4s;
}
.artist-info {
  padding: 60px 35px 35px;
}
.artist-name,
.artist-song-name {
  margin: 0;
}
.artist-name {
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 400;
}
.artist-song-name {
  font-size: 18px;
  font-weight: 400;
}

.icon-change {
margin-left: 50px;
}
