.home-wrapper {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/images/background.svg);
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .home-wrapper {
    // background-repeat:space;
  height: 150vh;

    background-size: cover;
    background-image: url(../../assets/images/background2.svg);
  }
}
